.navbar {
    position: relative;
    .logo {
        position: absolute;
        left: 0;
    }
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;

    .nav-item {
      margin: 0 15px;
      cursor: pointer;
      color: #777;
      font-weight: 500;

      &.active {
        color: #4caf88;
        border-bottom: 2px solid #4caf88;
      }
    }
}